html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.show-on-hover-trigger .show-on-hover {
  display: none;
}

.show-on-hover-trigger:hover .show-on-hover {
  display: block;
}

@font-face {
  font-family: "screamer";
  src: url("/branding/fk-screamer/FKScreamer-Upright.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
