.showOnFocusTrigger .showOnFocus {
  display: none;
}

.toolbar {
  position: absolute;
  left: 0px;
  right: 0px;
  height: 32px;
  top: 0px;
  transition: all var(--chakra-transition-duration-normal);
  z-index: 10;
  pointer-events: none;
  opacity: 0.5;
}

.editable {
  height: 100%;
  transition: all var(--chakra-transition-duration-normal);
  margin-top: 32px;
  height: calc(100% - 32px);
}

.showOnFocusTrigger:focus-within .toolbar {
  pointer-events: all;
  opacity: 1;
}

.showOnFocusTrigger:focus-visible .editable {
  box-shadow: none !important;
  border-width: 0;
}
